@media (max-width: 320px) {
    .logo img {
        margin-left: 0.1em;
    }

    nav ul {
        display: none;
    }

    .btn-1 {
        display: none;
    }

    .heading-home {
        width: auto;
        margin: auto;
        flex-shrink: 0;
    }

    .heading-home h1 {
        color: #5314A9;
        font-family: 'Roboto Mono';
        text-align: center;
        font-size: 26px !important;
        font-weight: 500;
        line-height: 108%;
        text-transform: capitalize;
    }

    .heading-home P {
        width: 285px;
        color: #111013;
        text-align: center;
        margin-top: 10px;
        margin: auto;
        font-size: 18px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        line-height: 150%;
        /* 27px */
        text-transform: capitalize;
    }

    .menu-trigger {
        display: none;
        background: #D56287;
        color: #fff;
        padding: 5px;
        cursor: pointer;
        font-weight: bold;
        text-decoration: none;
    }

    .image-item img {
        width: 268px;
        height: 407px;
        flex: 0 2 100%;
    }

    .img-rigth {
        align-items: center;
        margin-top: 50px;
    }

    .img-center {
        align-items: center;
        margin-top: 50px;
    }

    .company-grid {
        display: block;
        width: 100%;
    }

    .left-com {
        width: 100%;
        text-align: center;
        background: #111013;
        padding: 30px 0;
    }

    .rigth-com {
        background-color: #884FDB;
        width: 100%;
        align-items: center;
    }

    .client-logo {
        padding-left: 20px;
        padding-top: 35px;
    }

    .company-grid {
        display: block;
        width: 100%;
    }

    .client-logo ul {
        display: block;
        justify-content: space-between;
        gap: 55px;
        margin-top: 20px;
    }

    .client-logo ul img {
        padding-top: 10px;
    }

    .about-left img {
        width: 289px;
        height: 327px;
    }

    .about-right {
        display: block;
    }

    .achivment {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        /* gap: 64px; */
    }

    .achivment img {
        display: none;
    }

    .ach {
        text-align: center;
        display: block;
        flex-direction: column;

    }

    .ach h1,
    p {
        margin: auto;
        text-align: center;
        align-items: center;
    }

    .btn {
        margin-top: 45px;
    }

    .services {
        display: block;
        gap: 48px;
        text-align: center;
    }

    .up {
        display: block;
        gap: 48px;
        text-align: center;
    }

    .down {
        display: block;
        gap: 48px;
        text-align: center;
    }

    .card-mobile {
        margin-top: 35px;
    }

    .project-head h1 {
        color: #5314A9;
        font-size: 35px;
        margin: auto;
        text-align: center;

    }

    .btn-lern {
        margin-top: 35px;
    }

    .project-down {
        display: block;
        margin-top: 35px;
        flex-direction: column;
        /* gap: 190px; */
    }

    .tech h2 {
        color: #000;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 108%;

    }

    .tech {
        margin-top: 25px;
        gap: 14px;
    }

    .technology-up {
        display: block;
        flex-direction: column;
    }

    .technology-down {
        flex-direction: column;
        display: block;
    }

    .tech img {
        width: 288px;
    }

    .working-up {
        display: block;
    }

    .btn-working {
        margin: auto;
    }

    .working-btn {
        text-align: center;
        margin: auto;
        margin-top: 25px;
    }

    .working-head h5 {
        margin: auto;
    }

    .working-head h1 {
        text-align: center;
        margin: auto;
    }

    .working-down {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        gap: 76px;
    }

    .test {
        background-color: #FFF;
        display: flex;
        width: 288px;
        padding: 32px 28px;
        flex-direction: column;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 48px;
    }

    .test img {
        margin: auto;
    }

    .test-more {
        margin: auto;
    }

    .news-up {
        display: block;
    }

    .btn-news {
        margin: auto;
    }

    .news-btn {
        text-align: center;
        margin: auto;
        margin-top: 25px;
    }

    .news-head h5 {
        margin: auto;
        align-items: center;
        text-align: center;
    }

    .news-head h1 {
        margin: auto;
        text-align: center;
    }

    .news-head p {
        margin: auto;
    }

    .news-left {
        display: block;
        margin: auto;
    }

    .news-down {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        gap: 76px;
    }

    .news-test {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        /* align-items: flex-start; */
        gap: 32px;
    }

    .news-test img {
        width: 288px;
        height: 350px;
    }

    .calender img {
        width: 24px;
        height: 24px;
    }

    .email-head {
        display: block;
        padding: 55px;
        /* gap: 72px; */
    }

    .email-left {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 72px;
    }

    .email-head h1 {
        color: #FFF;
        text-align: center;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        /* 67.2px */
    }

    .email-text {
        display: flex;
        margin: auto;
        align-items: center;
        gap: 12px;
    }

    .email-right img {
        margin: auto;
        margin-top: 35px;
        display: flex;
    }

    .block {
        display: none;
    }

    .footer-down {
        display: block;
        margin-top: 25px;
        gap: 400px;
    }

    .sec-2 {
        display: block;
        flex-direction: column;
        gap: 119;
        margin-top: 25px;
    }

    .sec-4 {
        display: block;
        margin: auto;
        gap: 10;
        flex-direction: column;
        margin-top: 25px;
    }

    .footer-card p {
        width: 250px !important;
        color: #FFF;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        /* 28.8px */
    }

    .footer-card {
        display: flex;
        flex-direction: column;
    }

    .footer-up {
        display: block;
        flex-direction: column;
    }

    .footer-down h4 {
        color: #FFF;
        font-size: 12px;
        font-style: normal;
        font-weight: 200;
        line-height: 160%;
        align-items: flex-end;
    }

    .footer-down {
        display: block;
        margin-top: 25px;
        gap: 100px;
    }

    .footer-card img {
        margin: auto;
    }

    .footer-icon {
        margin: auto;
    }

    .footer-card h5 {
        margin: auto;
    }

    .contact-logo {
        margin: auto;
    }

    .footer-card ul {
        margin: auto;
        text-align: center;
    }

    .cheack-box {
        margin: auto;
    }

    .footer-down h4 {
        margin: auto;
    }

    .buss {
        display: block;
    }

    .Vector {
        display: none;
    }

    .main-bussness {
        display: block;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .right-bussness img {
        height: 326px;
        width: 287px;
    }

    .left-bussness h1 {
        color: #5314A9;
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: 108%;
        text-align: center;
        /* 69.12px */
    }

    .btn-bs {
        margin: auto;
    }

    .buss {
        margin-bottom: 25px;
    }

    .Featured-down {
        flex-direction: column;
        display: block;
        margin-top: 35px;
        gap: 12px;

    }

    .technology-up {
        display: block;
    }

    .fea-tech img {
        height: 340px;
        width: 286px;
    }

    .fea-more img {
        width: 25px;
        height: 25px;
    }

    .fea-more {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .fea-more h5 {
        color: #000;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
        text-decoration-line: underline;
        text-transform: capitalize;
    }

    .Featured-head h1 {
        color: #5314A9;
        text-align: center;
        font-size: 34px !important;
        font-style: normal;
        font-weight: 700;
        line-height: 108%;
        /* 69.12px */
    }

    .together-up h1 {
        color: #884FDB;
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        text-align: center;
        line-height: 110%;
        text-transform: capitalize;
    }

    .together-up p {
        color: #111013;
        width: auto;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        text-align: center;
        line-height: 160%;
        text-transform: capitalize;
    }

    .together-up {
        text-align: center;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 64px;
    }

    .together-down {
        margin: auto;
    }

    .in-1 {
        display: block;
        flex-direction: column;
    }

    select,
    textarea {
        width: 20%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }

    .down-ind img {
        width: 240px;
        height: 250px;
    }

    .left-ind {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;
    }

    .case-left h1 {
        color: #5314A9;
        font-size: 45px !important;
        font-style: normal;
        font-weight: 600;
        line-height: 108%;
        /* 77.76px */
        text-transform: capitalize;
    }

    .case-left p {
        color: #111013;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 180%;
        /* 32.4px */
        text-transform: capitalize;
    }

    .case-left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
    }

    .case-study {
        display: block;
        flex-direction: column;
        background-repeat: no-repeat;
        background-image: url(../img/Vector.png);
        display: inline-flex;
        align-items: center;
        gap: 50px !important;
    }

    .case-left img {
        width: 50px;
        height: 50px;
    }

    .peg-mid {
        display: none;
    }

    .Achievements {
        display: block;
        flex-direction: column;
    }

    .Achievements-down {
        display: block;
        flex-direction: column;
    }

    .achi {
        margin: auto;
        display: block;
        flex-direction: column;
    }

    .Achievements-up h1 {
        color: #5314A9;
        font-size: 40px !important;
        font-style: normal;
        font-weight: 700;
        text-align: center;
        line-height: 180%;
        /* 100.8px */
    }

    .img-1 img {
        width: 275px !important;
        display: flex;
        height: 255px !important;
        /* margin: auto; */
    }

    .img-main {
        display: block;
        flex-direction: column;
        gap: 24px;
    }

    .Story-left img {
        width: 285px !important;
        margin: auto;
    }
    .team-down {
        display: block;
        flex-direction: column;
        /* align-items: flex-start; */
        gap: 48px;
    }
    .ceo {
        display: block;
        flex-direction: column;
        /* align-items: flex-start; */
        gap: 16px;
    }
    .ceo-2{
        display: block;
        flex-direction: column;
    }
    .team-u {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    .team-d {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    .ceo img{
        width: 250px;
    }
    .team-up h1 {
        color: #5314A9;
        text-align: center;
        font-size: 50px !important;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        /* 76.8px */
    }
    .Vision-left img{
        margin: auto;
        width: 250px;
    }
    .Vision-rigth img{
        margin: auto;
        width: 250px;
    }
    .Vision{
        text-align: center;
    }
}