.left-bussness h1 {
    color: #5314A9;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 108%;
    /* 69.12px */
}

.business {
    background-color: #EBE5FA;
}

.left-bussness p {
    color: #111013;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 27px */
    text-transform: capitalize;
}

.btn-bussness {
    color: #FFF;
    font-size: 18px;
    /* font-style: normal; */
    font-weight: 500;
    line-height: 100%;
    display: inline-flex;
    padding: 12px 12px 12px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 50px;
    background: #111013;
    border: none;
}

.main-bussness {
    padding-top: 32px;
    display: flex;

}

.buss {
    /* width: 659px; */
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 54px;
}

.Vector img {
    margin-top: -55px;
    display: flex;
    flex-shrink: 0;
    width: 429.119px;
    height: 270.703px;
    margin-left: 262px;
}

.Featured-head {
    display: flex;
    /* width: 780px ; */
    flex-direction: column;
    margin: auto;
    align-items: center;
    gap: 40px;
}

.Featured-head h1 {
    color: #5314A9;
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 108%;
    /* 69.12px */
}

.Featured-head p {
    color: #111013;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    /* 32.4px */
}

.Featured-down {
    display: flex;
    margin-top: 35px;
    gap: 128px;
}

.fea-tech {
    margin-top: 25px;
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.more {
    display: flex;
    align-items: center;
    gap: 12px;
}

.fea-more {
    display: flex;
    align-items: center;
    gap: 12px;
}

.fea-more h5 {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    /* 26.4px */
    text-decoration-line: underline;
    text-transform: capitalize;
}

.main-together {
    width: 100%;
    padding: 75px 0;
    background-color: #EBE5FA;
}

.together-up {
    text-align: start;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
    padding-right: 40px;
}

.together-up h1 {
    color: #884FDB;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    text-transform: capitalize;
}

.together-up p {
    color: #111013;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-transform: capitalize;
}

.input-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
}

.in-1 {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
}

select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.together {
    /* display: inline-flex; */
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
}

.f-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.input-2 input {
    height: 64px;
    width: 100%;
    align-self: stretch;
}

input[type=file] {
    width: 100%;
    padding: 22px 0px 15px 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #FFF;
}

::placeholder {
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.together-down {
    padding-top: 30px;
    margin: auto;
}

.main-industries {
    width: 100%;
    padding: 95px 0;
}

.up-ind {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.up-ind h1 {
    color: #884FDB;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    /* 52.8px */
    text-transform: capitalize;
}

.up-ind p {
    color: #021814;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 28.8px */
}

.left-ind {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 100px;
}

.right-ind {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.industries {
    display: flex;
}

.Software h1 {
    color: #021814;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    /* 35.2px */
}

.Software h5 {
    color: #884FDB;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 32px */
}

.Software p {
    color: #021814;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 25.6px */
}

.Software {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}
.Software h4{
    color: #111013;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 160%; /* 32px */
}

.industries{
    gap: 45px;
}